body, input[type="submit"] {
	background: url('background.png');
	background-repeat: repeat;
	color: white;
	font-family: 'Muli', 'Century Gothic', 'sans-serif';
	font-weight: bold;
}

.form-control {
	width: 250px;
}


h1 {
	font-size: 40pt;
	text-align: center;
}

input, select, .btn {
	float: none;
	display: block;
	margin: 0 auto;
}

.form-group label {
	display: block;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.btn, .btn:hover {
	background: url('backgound.png');
	background-image: url('fblogo.png');
	background-repeat: no-repeat;
	background-position: 3px;
	color: white;
	padding-left: 27px;
	font-size: 18pt;
}

.btn-lg:hover, .btn-lg {
	background-image: none;
	padding-left: 16px;
}